[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
djangorestframework = "==3.13.1"
django-filter = "==21.1"

[dev-packages]
pycodestyle = "*"
pylint = "*"
mypy = "*"
pyflakes = "*"
bandit = "*"
pydocstyle = "*"
pre-commit = "*"
flake8 = "*"
pylint-django = "*"
black = "==19.3b0"

[requires]
python_version = "3.10"
